[phases.setup]
nixPkgs = ["python3", "nodejs_20"]

[phases.install]
cmds = [
    "pip install -r requirements.txt",
    "cd frontend && npm install"
]

[phases.build]
cmds = ["cd frontend && npm run build"]

[start]
cmd = "gunicorn backend.app:app"
